name: Generate RULE-SET for Clash
on:
  workflow_dispatch:
  schedule:
    - cron: "30 22 * * *"
  push:
    branches:
      - main
    paths-ignore:
      - "**/README.md"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Shanghai
      private-url: https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/private.mrs
      fakeip-filter-url: https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/fakeip-filter.mrs
      ads-url: https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/ads.list
      cn-games-url: https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/games-cn.mrs
      games-url: https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/games.mrs
      tracker-url: https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/trackerslist.mrs
      apps-url: https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/applications.list
      cn-url: https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/cn.mrs
      proxy-url: https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/proxy.mrs
      private-ip-url: https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/privateip.mrs
      cn-ip-url: https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/cnip.mrs
      telegram-ip-url: https://github.com/DustinWin/ruleset_geodata/releases/download/mihomo-ruleset/telegramip.mrs

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set variables
        run: |
          echo "RELEASE_NAME=Released on $(date +%Y%m%d%H%M)" >> $GITHUB_ENV
          echo "TAG_NAME=$(date +%Y%m%d%H%M)" >> $GITHUB_ENV
        shell: bash

      - name: download mihomo
        run: |
          wget -q https://github.com/MetaCubeX/mihomo/releases/download/v1.19.17/mihomo-linux-amd64-v1.19.17.gz
          gunzip mihomo-linux-amd64-v1.19.17.gz
          mv mihomo-linux-amd64-v1.19.17 mihomo
          chmod +x mihomo

      - name: generate ads.mrs
        run: |
          curl -sSLf --retry 3 ${{ env.ads-url }} -o ads-origin.list
          python3 merge_raw.py -i ads-origin.list custom/ads.list -d custom/ads-remove.list -o ads.list
          ./mihomo convert-ruleset domain text ads.list ads.mrs

      - name: Generate custom-direct.mrs, custom-proxy.mrs, idc.mrs
        run: |
          ./mihomo convert-ruleset domain text custom/idc.list idc.mrs
          ./mihomo convert-ruleset domain text custom/direct.list custom-direct.mrs
          ./mihomo convert-ruleset domain text custom/proxy.list custom-proxy.mrs

      - name: download all rules
        run: |
          # 下载
          curl -sSLf --retry 3 ${{ env.private-url }} -o private.mrs
          curl -sSLf --retry 3 ${{ env.fakeip-filter-url }} -o fakeip-filter.mrs
          curl -sSLf --retry 3 ${{ env.cn-games-url }} -o cn-games.mrs
          curl -sSLf --retry 3 ${{ env.games-url }} -o games.mrs
          curl -sSLf --retry 3 ${{ env.tracker-url }} -o tracker.mrs
          curl -sSLf --retry 3 ${{ env.apps-url }} -o apps.list
          curl -sSLf --retry 3 ${{ env.cn-url }} -o cn.mrs
          curl -sSLf --retry 3 ${{ env.proxy-url }} -o proxy.mrs
          curl -sSLf --retry 3 ${{ env.private-ip-url }} -o private-ip.mrs
          curl -sSLf --retry 3 ${{ env.cn-ip-url }} -o cn-ip.mrs
          curl -sSLf --retry 3 ${{ env.telegram-ip-url }} -o telegram-ip.mrs

      - name: Move files to publish directory
        run: |
          mkdir -p publish
          cp *.mrs apps.list ./publish/

      - name: Release and upload assets
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ env.RELEASE_NAME }}
          tag_name: ${{ env.TAG_NAME }}
          draft: false
          prerelease: false
          files: |
            ./publish/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Git push assets to "release" branch
        run: |
          cd publish || exit 1
          git init
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout -b release
          git add .
          git commit -m "${{ env.RELEASE_NAME }}"
          git remote add origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git push -f origin release

      - name: Purge jsdelivr CDN
        run: |
          cd publish || exit 1
          for file in $(ls *.yaml); do
            curl -i "https://purge.jsdelivr.net/gh/${{ github.repository }}@release/${file}"
          done